html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #7acf88;
}

.container{
  background-color: white;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#blogtitle, #blogcomments {
  text-align: center;
  padding-top:1em;
  color:firebrick;
}

table, th, td{
  border: 1px solid black;
  background-color: #F6F6F6;
}

th{
  text-align: center;
}

.reply{
  padding-left:50px;
}